

<p>
    cand fac update la un card la timp sa modifice si timpul celorlalte care nu sunt fixed
</p>
<p>
    cand sterg un card sa se dea si celelalte inapoi ca timp
</p>
<p>
    unit testing
</p>
<p>
    javascript validare input card
</p>
<p>
    la delete card redirect catre aceeasi pagina
</p>